name: GeoIntel Otomatik Test

on:
  push:
    branches: [ "main" ]

jobs:
  test-yap:
    runs-on: ubuntu-latest

    # SAHTE ANAHTARLAR (Environment Hatası Almamak İçin)
    env:
      DATABASE_URL: "postgresql://user:pass@localhost:5432/testdb"
      OPENWEATHER_API_KEY: "test_key"
      HERE_API_KEY: "test_key"
      GOOGLE_MAPS_API_KEY: "test_key"
      ANTHROPIC_API_KEY: "test_key" # Bunu da ekledim ne olur ne olmaz

    steps:
    - uses: actions/checkout@v3

    - name: Python Kuruluyor
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Kütüphaneler Yükleniyor
      run: |
        python -m pip install --upgrade pip
        # DÜZELTME: Buraya 'fastmcp' ve 'python-dotenv' ekledim.
        # Ayrıca Orchestrator bağımlılıkları (langchain vs) lazım olabilir diye onları da ekliyorum.
        pip install  pytest pytest-asyncio httpx asyncpg pydantic pydantic-settings fastapi uvicorn polyline loguru fastmcp python-dotenv langchain-anthropic langchain-core langgraph flexpolyline shapely redis

    - name: Yollar Tanımlanıyor
      run: |
        # Hem ana dizini hem de alt servisleri yola ekliyoruz
        echo "PYTHONPATH=$PYTHONPATH:$(pwd):$(pwd)/services/mcp_city:$(pwd)/services/orchestrator" >> $GITHUB_ENV

    - name: Testler Çalışıyor
      run: |
        pytest tests/